In [14]:
a = 10
print(a)

10

In [18]:
a = 10               #int
b = 10.5             #float
c = "Hello World"    #str
d = True             #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [24]:
#datatype int, str, float, bool
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [26]:
# Operator
# + - * / ** // %

In [36]:
# int
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

13
7
30
3.3333333333333335
1000
3
1

In [44]:
#str
a = 'Hello '
b = 'World'
c = a+b      #concate
print(c)

Hello World

In [48]:
a = 'Hello World\n'
print(a*2)

Hello World
Hello World

In [50]:
a = '10'
b = '20'
c = a+b
print(c)

1020

In [54]:
# bool
a = True
b = False

c = a+b
print(c)

1

In [11]:
a = True
b = False
c = a-b
print(c)

1

In [27]:
# type casting int() float() bool()
a = 10
b = float(a)  #int to float
print(b)

10.0

In [4]:
b = str(a)
print(b)

10

In [6]:
a = 10.5
b = int(a)
print(b)

10

In [10]:
a = 10
b = bool(a)
print(b)

True

In [12]:
a = "Hello"
b = bool(a)
print(b)

True

In [14]:
# Basic I/O opertaion
a = input()
print(a)

 Hello world

Hello world

In [16]:
a = input("Enter value of a = ")
print(a)

Enter value of a =  Hello World

Hello World

In [20]:
a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
c = a+b
print(c)

Enter value of a =  10
Enter value of b =  10

20

In [28]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of 1 = ",i)

Enter p =  100000
Enter t =  10.5
Enter r =  8.9

The value of 1 =  93450.0

In [29]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

#print(total); Print("is total marks = ")
print("The total marks =",total)

print("The per =",per)

Enter physics marks =  78
Enter chemistry marks =  87
Enter math marks =  89
Enter english marks =  90
Enter nepali marks =  78

The total marks = 422
The per = 84.4

In [17]:
name = input("Enter name")
age = 67
add = "Kathmandu"

info = name + str(age) + add
print(info)

Enter name Shaym

Shaym67Kathmandu

In [25]:
info = "Hello World I am "+ name 
print(info)

Hello World I am Shaym

In [37]:
info = "Hello World I am "+ name + " I am from " + add + " I am " + str(age) + " Years Old"
print(info)

Hello World I am Shaym I am from Kathmandu I am 67 Years Old