In [2]:
# File
# f = open('<file_name>','<modes>')
# f.close()

# with open('<file_name>','<modes>') as f:
#     <operations>

# modes
# r ->read
# w ->write
# a ->append
# x ->create

In [3]:
f = open('data.txt','x')
f.close()

In [5]:
#read()
f = open('data.txt','r')
d = f.read()
print(d)
f.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World

In [7]:
d

'1. Hello World\n2. Hello World\n3. Hello World\n4. Hello World\n5. Hello World'

In [11]:
l = d.split('\n')
l

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [13]:
l[0]

'1. Hello World'

In [21]:
#append()
f = open('data.txt','a')
d = f.write("\n8. Hello World")
f.close()

In [23]:
f = open('data.txt','r')
d = f.read()
print(d)
f.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World
8. Hello World

In [9]:
#write()
f = open('data1.txt','w')
f.write("Hello World")
f.close()

In [1]:
# WAP to take name,age,address,phone from user and add it to file
info = ""
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter Name = ")
    Age = input("Enter Age = ")
    Add = input("Enter Add = ")
    Phone = input("Enter Phone = ")
    data = f"{Name} {Age} {Add} {Phone}\n"
    info = info + data

f = open('data1.txt','w')
f.write(info)
f.close()

Enter n =  3
Enter Name =  Ram
Enter Age =  34
Enter Add =  Kathmandu
Enter Phone =  9845123654
Enter Name =  Shyam
Enter Age =  34
Enter Add =  Bhaktapur
Enter Phone =  9863123654
Enter Name =  Hari
Enter Age =  23
Enter Add =  Lalitpur
Enter Phone =  9861456654

In [3]:
f = open('data1.txt','r')
d = f.read()
print(d)
f.close()

Ram 34 Kathmandu 9845123654
Shyam 34 Bhaktapur 9863123654
Hari 23 Lalitpur 9861456654

In [2]:
info = ""
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter Name = ")
    Age = input("Enter Age = ")
    Add = input("Enter Add = ")
    Phone = input("Enter Phone = ")
    data = f"{Name},{Age},{Add},{Phone}\n"
    info = info + data

f = open('data.csv','w')
f.write('Name,Age,Add,Phone\n')
f.write(info)
f.close()

Enter n =  6
Enter Name =  Ram
Enter Age =  34
Enter Add =  Kathmandu
Enter Phone =  9863123654
Enter Name =  Shyam
Enter Age =  45
Enter Add =  Bhaktapur
Enter Phone =  9841845652
Enter Name =  Hari
Enter Age =  25
Enter Add =  Lalitpur
Enter Phone =  9867234565
Enter Name =  Sita
Enter Age =  26
Enter Add =  Jhapa
Enter Phone =  9852036545
Enter Name =  Gita
Enter Age =  28
Enter Add =  Banepa
Enter Phone =  9861258456
Enter Name =  Nabin
Enter Age =  30
Enter Add =  Lumbini
Enter Phone =  9808235698

In [5]:
pwd

'C:\\Users\\acer\\Python class'

In [3]:
import datetime
x = datetime.datetime.now()
date =x.strftime("%c")

info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    qty = float(input("Enter qut = "))
    price = float(input("Enter price = "))
    total = price * qty
    row = f"{product},{price},{qty},{total},{date}\n"
    info = info + row
    grand_total = grand_total +total 

print("Bill =\n" ,info)
print("All total =\n" ,grand_total)

Enter n =  2
Enter product name =  Apple
Enter qut =  3
Enter price =  300
Enter product name =  Banana
Enter qut =  2
Enter price =  150

Bill =
 Apple,300.0,3.0,900.0,Tue May 13 07:55:41 2025
Banana,150.0,2.0,300.0,Tue May 13 07:55:41 2025

All total =
 1200.0

In [9]:
f = open('bill.csv','w')
f.write('product,price,qty,total,date\n')
f.write(info)
f.close()

In [17]:
f = open('bill.csv','r')
d = f.read()
print(d)
f.close()

product,price,qty,total,date
Apple,300.0,3.0,900.0,Tue May 13 07:55:41 2025
Banana,150.0,2.0,300.0,Tue May 13 07:55:41 2025

In [19]:
data = d.split('\n')[0:-1]
data

['product,price,qty,total,date',
 'Apple,300.0,3.0,900.0,Tue May 13 07:55:41 2025',
 'Banana,150.0,2.0,300.0,Tue May 13 07:55:41 2025']

In [21]:
final_data = []
for i in data:
    final_data.append(i.split(','))

final_data

[['product', 'price', 'qty', 'total', 'date'],
 ['Apple', '300.0', '3.0', '900.0', 'Tue May 13 07:55:41 2025'],
 ['Banana', '150.0', '2.0', '300.0', 'Tue May 13 07:55:41 2025']]

In [25]:
t = []
for i in final_data:
    t.append(i[3])

t

['total', '900.0', '300.0']

In [27]:
t[1:]

['900.0', '300.0']

In [33]:
total = sum([float(i) for i in t[1:]])
total

1200.0