In [1]:
# per defined function
# user defined function

In [3]:
# per defined function
# print() int() float() str() list() tuple() dict() set()

In [7]:
# def <function_name>():
#     <operation>

# <function_name>()

In [17]:
def hello():
    print("Hello World")

hello()

Hello World

In [19]:
def area():
    l = int(input("Enter l = "))          #local variable
    b = int(input("Enter b = "))          #Local varibale
    a = l*b                               #local varibale
    print(a)
    
area()

Enter l =  10
Enter b =  2

20

In [21]:
l = int(input("Enter l = "))          #Global variable
b = int(input("Enter b = "))          #Global varibale
def area():
    a = l*b                               #local varibale
    print(a)
    
area()   
print(l)

Enter l =  10
Enter b =  10

100
10

In [23]:
def area():
    global l,b
    l = int(input("Enter l = "))          #local variable
    b = int(input("Enter b = "))          #Local varibale
    a = l*b                               #local varibale
    print(a)
    
area()
print(l)

Enter l =  10
Enter b =  10

100
10

In [25]:
# arguments and parameter

In [27]:
def area(l,b):                        #L,b parameter
    a = l*b                               #local varibale
    print(a)

l = int(input("Enter l = "))          #global variable
b = int(input("Enter b = "))          #global varibale
area(l,b)                             #L,b arguments

Enter l =  100
Enter b =  10

1000

In [33]:
def info(name,age,add):
    data = f"Hello World I am {name}. I am from {add}. I am {age}"
    print(data)

info("Ram",45,"Kathmandu")

Hello World I am Ram. I am from Kathmandu. I am 45

In [37]:
def language(lan = "Python"):
    print(lan)

language("c")
language("C++")
language("Java")
language()

c
C++
Java
Python

In [45]:
def info(name,age,add="Nepal"):
    data = f"Hello World, I am {name}. I am from {add}. I am {age} years old"
    print(data)

info("Ram",45)

Hello World, I am Ram. I am from Nepal. I am 45 years old

In [53]:
# return type function
def area(l,b):
    a = l*b
    return a

l = int(input("Enter l ="))
b = int(input("Enter b ="))
h = int(input("Enter h ="))

#print (area(l,b))
ar = area(l,b)
v = ar*h
print(ar)
print(v)

Enter l = 10
Enter b = 5
Enter h = 10

50
500

In [65]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter  + or - or * or / ")
if o == '+':
    print(add(a,b))
elif o == '-':
    print(sub(a,b))
elif o == '*': 
    print(mul(a,b))
elif o == '/': 
    print(div(a,b))
else:
    print("Invalid operator")

Enter a =  100
Enter b =  50
Enter  + or - or * or /  /

2.0

In [6]:
# # recursive function
# def hello():
#     print("Hello World")
#     hello()
# hello()

In [12]:
 # recursive function
def hello():
    x = input("Enter y for more print = ")
    if x == 'y':
        print("Hello World")     
        hello()
    
hello()

Enter y for more print =  y

Hello World

Enter y for more print =  y

Hello World

Enter y for more print =  y

Hello World

Enter y for more print =  y

Hello World

Enter y for more print =  fjb

In [14]:
# lambda function

In [16]:
# lambda <arguments>:<operations>

In [20]:
x = lambda a:a**2
x(4)

16

In [22]:
x = lambda l,b:l*b
x(4,5)

20

In [24]:
# filter

In [26]:
# list(filter(lambda <arguments>:<operation>,list))

In [40]:
l = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x % 2 == 0, l))

[2, 4, 6, 8, 10]

In [34]:
s = ["Apple","ball","Cat","dog","Fish"]
list(filter(lambda x: x[0].isupper(), s))

['Apple', 'Cat', 'Fish']

In [42]:
#map

In [44]:
# list(map(lambda <arguments>:<operation>,list))

In [50]:
s = ["apple","ball","cat","dog","fish"]
list(map(lambda x:x.title(), s))

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [54]:
l = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x:x**2, l))
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
l = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x:str(x), l))
result

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [58]:
l = [1,2,3,4,5,6,7,8,9,10]
str(l)

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [66]:
# list
l = []
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
l = [1,2,3,4,5,6,7,8,9,10]
l = [str(i) for i in l]
l

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [83]:
s = ["apple","ball","cat","dog","fish"]
l = [i.upper() for i in s]
l

['APPLE', 'BALL', 'CAT', 'DOG', 'FISH']

In [85]:
# filter
l = [1,2,3,4,5,6,7,8,9,10]
f = [i for i in l if i%2==0]
f

[2, 4, 6, 8, 10]

In [87]:
l = [1,2,3,4,5,6,7,8,9,10]
f = [i*5 for i in l if i%2==0]
f

[10, 20, 30, 40, 50]

In [93]:
s = ["Apple","ball","Cat","dog","Fish"]
l = [i for i in s if i[0].isupper()]
l

['Apple', 'Cat', 'Fish']

In [97]:
a = ['APPLE', 'BALL', 'CAT', 'DOG', 'FISH']
b = ["APPLE","ball","CAT","dog","Fish"]
common = [i for i in b if i in a]
print(common)

['APPLE', 'CAT']

In [99]:
not_common = [i for i in b if i not in a]
print(not_common)

['ball', 'dog', 'Fish']