In [1]:
# Python collection
# List
# Tuple
# Dict 
# Set

In [2]:
# # List
# - Indexing
# - Ordered
# - Multiple and Duplicate data
# - Mutable

In [3]:
l = ["Apple","Ball","Cat","Apple"]
a = [1,2,3,4,5,6,7,8,9]
print(l)
print(a)
print(type(a))

['Apple', 'Ball', 'Cat', 'Apple']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [4]:
# Indexing and slicing
l = ["Apple","Ball","Cat","Apple",1,2,3,10.5,True]
print(l[0])
print(l[0:2])
print(l[0:10:2])

Apple
['Apple', 'Ball']
['Apple', 'Cat', 1, 3, True]

In [5]:
l = ["Apple","Ball","Cat","Apple"]
for i in l:
    print(i)

Apple
Ball
Cat
Apple

In [20]:
# range()
l = ["Apple","Ball","Cat","Apple"]
for i in range(len(l)):
    print(l[i])

Apple
Ball
Cat
Apple

In [22]:
## append() insert() extend()
# WAP to take values from user and add it into list
# l = list()
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)

print(l)

Enter n =  10
Enter x =  258
Enter x =  256
Enter x =  86
Enter x =  78
Enter x =  35
Enter x =  236
Enter x =  453
Enter x =  653
Enter x =  213
Enter x =  225

[258, 256, 86, 78, 35, 236, 453, 653, 213, 225]

In [24]:
print("The sum of the values =",sum(l))
print("The min value = ",min(l))
print("The max value = ",max(l))
print("The max value = ",sum(l)/len(l))
l.sort()
print(l)
l.reverse()
print(l)

The sum of the values = 2493
The min value =  35
The max value =  653
The max value =  249.3
[35, 78, 86, 213, 225, 236, 256, 258, 453, 653]
[653, 453, 258, 256, 236, 225, 213, 86, 78, 35]

In [18]:
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
a.sort()
print(a)

['Ant', 'Apple', 'Ball', 'Cat', 'Xray', 'banna']

In [28]:
l = [213, 345, 23, 657, 43, 678, 213, 56, 8, 243]
l.sort(reverse = True)
print(l)

[678, 657, 345, 243, 213, 213, 56, 43, 23, 8]

In [36]:
# append
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
a.append("Fish")
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banna', 'Xray', 'Fish']

In [38]:
# insert()
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
a.insert(1,"Fish")
print(a)

['Ball', 'Fish', 'Cat', 'Apple', 'Ant', 'banna', 'Xray']

In [42]:
# extend()
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banna', 'Xray', 1, 2, 3, 4, 5]

In [46]:
# concat
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
b = [1,2,3,4,5]
a = a+b
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 'banna', 'Xray', 1, 2, 3, 4, 5]

In [ ]:
# CRUD

In [48]:
# Update or Edit
a = ["Ball","Cat","Apple","Ant","banna","Xray"]
a[0] = "ball"
print(a)

['ball', 'Cat', 'Apple', 'Ant', 'banna', 'Xray']

In [50]:
a[0:2] = ["ball","cat"]
print(a)

['ball', 'cat', 'Apple', 'Ant', 'banna', 'Xray']

In [58]:
a = ["Ball","Cat", "Apple","Ant","banna","Xray"]
a[0:2] = ["apple"]
print(a)

['apple', 'Apple', 'Ant', 'banna', 'Xray']

In [1]:
# Delete
# del remove() pop()

In [3]:
# del
a = ["Ball","Cat", "Apple","Ant","banna","Xray"]
del a[0]
print(a)

['Cat', 'Apple', 'Ant', 'banna', 'Xray']

In [5]:
a = ["Ball","Cat", "Apple","Ant","banna","Xray"]
del a[0:3]
print(a)

['Ant', 'banna', 'Xray']

In [7]:
# remove()
a = ["Ball","Cat", "Apple","Ant","banna","Xray"]
a.remove("Ball")
print(a)

['Cat', 'Apple', 'Ant', 'banna', 'Xray']

In [9]:
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
    
print(a)

['Cat', 'Apple', 'Ant', 'banna', 'Xray']

In [11]:
# index()
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
a.index("Ball")

0

In [15]:
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
l = len(a)
for i in range(l):
    if a[i] == "Ball":
        print(i)

0
3
7

In [17]:
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
del a[0]
print(a)

['Cat', 'Apple', 'Ball', 'Ant', 'banna', 'Xray', 'Ball']

In [19]:
# pop()
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
b = a.pop(1)
print(a)
print(b)

['Ball', 'Apple', 'Ball', 'Ant', 'banna', 'Xray', 'Ball']
Cat

In [21]:
# search
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
if "Ball" in a:
    print("Yes")
    print(a.count("Ball"))
else:
    print("No")

Yes
3

In [23]:
a = ["Ball","Cat", "Apple","Ball","Ant","banna","Xray","Ball"]
del a[0]
del a[6]
print(a)

['Cat', 'Apple', 'Ball', 'Ant', 'banna', 'Xray']

In [25]:
# list inside list (nested list)

In [33]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
print(a[2])

[7, 8, 9]

In [43]:
print(a[0][0])

1

In [55]:
# a = [['Ram',34,"Kathmandu"],
#      ['Shyam',56,"Bhaktapur"]
#      ["Hari",56,"Lalitpur"]]

l = []
n =int(input("Enter n = "))
for i in range(n):
    Name = input("Enter Name =")
    Age = int(input("Enter Age ="))
    Address = input("Enter Address =")
    l.append([Name,Age,Address])

print(l)

Enter n =  3
Enter Name = Ram
Enter Age = 56
Enter Address = Kathmandu
Enter Name = Shyam
Enter Age = 45
Enter Address = Bhaktapur
Enter Name = Hari
Enter Age = 56
Enter Address = Lalitpur

[['Ram', 56, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]

In [65]:
# Search
Name = input("Enter name = ")
for i in l:
    if "Ram" in i:
      print(i)

Enter name =  Ram

['Ram', 56, 'Kathmandu']

In [67]:
# WAP to search if the given name record is in the list

In [71]:
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
a = [['Sita', 34,"Jhapa"]]
c=l+a
print(c)

[['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 56, 'Lalitpur'], ['Sita', 34, 'Jhapa']]

In [81]:
# Update
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
l[0][0] ="Ram Prasad"
l

[['Ram Prasad', 45, 'Kathmandu'],
 ['Shyam', 23, 'Bhaktapur'],
 ['Hari', 56, 'Lalitpur']]

In [87]:
# l = [['Ram', 45, 'Kathmandu,Nepal'], ['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]
l = [['Ram', 45, 'Kathmandu'], ['Shyam', 23, 'Bhaktapur'], ['Hari', 56, 'Lalitpur']]
for i in l:
    i [2 ]= f"{i[2]},Nepal"

print(l)

[['Ram', 45, 'Kathmandu,Nepal'], ['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]

In [91]:
# delete
# del remove() pop()
l = [['Ram', 45, 'Kathmandu,Nepal'], ['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]
del l[0]
l

[['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]

In [93]:
l = [['Ram', 45, 'Kathmandu,Nepal'], ['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]
l.remove(['Ram', 45, 'Kathmandu,Nepal'])
l

[['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]

In [99]:
l = [['Ram', 45, 'Kathmandu,Nepal'], ['Shyam', 23, 'Bhaktapur,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]
l.pop(1)
print(l)

[['Ram', 45, 'Kathmandu,Nepal'], ['Hari', 56, 'Lalitpur,Nepal']]