In [1]:
# loop
# for loop
# while loop,

In [2]:
# range(5)    0,1,2,3,4
# range(1,5)  1,2,3,4
# range(1,10,2) 1,3,5,7,9

In [3]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
for i in range(1,6,2):       #1, 1+2, 3+2
    print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World

In [5]:
for i in range(5,0,-1):
    print(i, "Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [6]:
# WAP to create a multiplication table

In [8]:
x = int(input("Enter x = "))
for i in range(1,12):
    print(x*i)

Enter x =  5

5
10
15
20
25
30
35
40
45
50
55

In [ ]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",x*i)    #5 * 1 = 5

In [ ]:
# WAP that calculates sum of given numbers

In [16]:
s = 0
n = int(input("Enter no of entries = "))
for i in range(n):
    m = int(input("Enter money = "))
    s = s*1.1 + m
    print(s)

Enter no of entries =  2
Enter money =  1000

1000.0

Enter money =  1000

2100.0

In [18]:
s = 0
n = int(input("Enter no of entries = "))
for i in range(n):
    m = int(input("Enter money = "))
    s = s + m
    s = s*1.1
    print(s)

Enter no of entries =  2
Enter money =  1000

1100.0

Enter money =  1000

2310.0

In [28]:
# WAP to calculate factorial
#5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac * i
    print(fac)

Enter n =  5

1
2
6
24
120

In [30]:
# WAP to calculate the sum of all numbers
i = 10
x = 1+2+3+4+5+6+7+8+9+10

In [36]:
i = 10
total = 0
for num in range(1, i + 1):
    total += num
    print("The sum is:", total)

The sum is: 1
The sum is: 3
The sum is: 6
The sum is: 10
The sum is: 15
The sum is: 21
The sum is: 28
The sum is: 36
The sum is: 45
The sum is: 55

In [2]:
# loop ins string

In [36]:
a = "Hello World"
print(len(a))
for i in a:
    print(i, end = " ")

11
H e l l o   W o r l d

In [40]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i, end = "")

Hello World I am Python

In [42]:
a = "Hello World! I am Python."
for i in a:
     if i != "!" and i != ".":       #True  False = False     
        print(i, end = "")

Hello World I am Python

In [48]:
# WAP to take name and phone number from users and create a simple data application
# info = str()
# Ram+985352235
# shyam+9860325635
info = ""
n = int(input("Enter how many people = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data = name + " " + phone + "\n"
    info = info + data

    print(info)

Enter how many people =  2
Enter name =  Ram
Enter phone =  9854321565

Ram 9854321565

Enter name =  Shyam
Enter phone =  9860355125

Ram 9854321565
Shyam 9860355125

In [56]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    qty = float(input("Enter qut = "))
    price = float(input("Enter price = "))
    total = price * qty
    row = product + " " + str(price) +" "+ str(qty) +" "+ str(total) + "\n"
    info = info + row
    grand_total = grand_total +total

print("Bill =\n" ,info)
print("All total =\n" ,grand_total)

Enter n =  2
Enter product name =  Momo
Enter qut =  2
Enter price =  150
Enter product name =  Coke
Enter qut =  3
Enter price =  100

Bill =
 Momo 150.0 2.0 300.0
Coke 100.0 3.0 300.0

All total =
 600.0

In [58]:
for i in range(5): #0,1,2,3,4
    print(i*"o")

o
oo
ooo
oooo

In [60]:
for i in range(5,0,-1): #5,4,3,2,1
    print(i*"o")

ooooo
oooo
ooo
oo
o

In [74]:
for i in range(5):
    print((2*i-1)*" ",*"o")
print((2*i-1)*" ",*"o")
print((2*i-1)*" ",*"o")

 o
  o
    o
      o
        o
        o
        o

In [4]:
# Control statemants

In [6]:
# break
# continue

In [12]:
# break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [14]:
# continue
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [16]:
a = "Hello World. I am from Kathmandu."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [20]:
a = "Hello World. I am from Kathmandu."
for i in a:
    if i == ".":
        continue
    else:
        print(i, end = "")

Hello World I am from Kathmandu

In [22]:
# WAP to find if the number is prime or composite
# prime no: 2,3,5,7,11,13
# composite no:4,6,8,9,10,12
n = int(input("Enter n = "))
for i in range(2,n):
    if n % i == 0:
        print("composite no.")
        break
else:
    print("prime no")

Enter n =  11

prime no

In [24]:
# While loop
# while <condition>:
#     <operations>

In [26]:
i = 0
while i <5:
    print(i)
    i = i+1

0
1
2
3
4

In [32]:
i = 0
while i <10:
    if i == 6:
        break
    print(i)
    i = i+1

0
1
2
3
4
5

In [1]:
i = 0
while i <10:
    if i == 6:
        i = i + 1
        continue
    print(i)
    i = i+1

0
1
2
3
4
5
7
8
9

In [1]:
i = 5
while i >0:
    print(i)
    i = i-1

5
4
3
2
1

In [3]:
i = 1
x = int(input("Enter x = "))
while i<=10:
    print(x,"*",i,"=",x*i)
    i = i+1

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
i = 0
s = 0
n = int(input("Enter no of entries = "))
while i<n:
    m = int(input("Enter money = "))
    s = s*1 + m
    i = i+1
print(s)

Enter no of entries =  2
Enter money =  1000
Enter money =  2000

3000