In [1]:
# string
a = 'Hello Wrold'
b = "Hello World"
c = '''Hello world'''

print(a)
print(b)
print(c)

Hello Wrold
Hello World
Hello world

In [3]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [7]:
a = "Hello World "
print(a*2)

Hello World Hello World

In [9]:
name = input("Enter name = ")
print(name)

Enter name =  Ram

Ram

In [11]:
# Imutable datatype

In [19]:
a = "Hello"
for i in a:
    print(i)

H
e
l
l
o

In [2]:
a = 10
for i in range(a):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
#Indexing
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [39]:
#Slicing
b = a[0:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [43]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i], end = " ")

H e l l o   W o r l d

In [45]:
i = 0
while i<len(a):
    print(a[i], end =" ")
    i = i+1

H e l l o   W o r l d

In [47]:
# string formating
name = "Ram"
age = 34
add = "Kathmandu"
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34

In [49]:
# WAP to create a billing system using string formatting

In [ ]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    qty = float(input("Enter qut = "))
    price = float(input("Enter price = "))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    info = info + row
    grand_total = grand_total +total 

print("Bill =\n" ,info)
print("All total =\n" ,grand_total)

In [61]:
# search in string
a = "Ram Shyam Hari Sita Gopal"
b = "Ram"
if b in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [69]:
a = "Ram Shyam Hari Sita Gopal"
b = input("Enter name =")
if b in a:
    print("Yes")
    print(a.count(b))
else:
    print("No")

Enter name = Ram

Yes
1

In [73]:
a = "Ram Shyam Hari Sita Gopal"
a = a.lower()
print(a)

ram shyam hari sita gopal

In [85]:
a = "Ram Shyam Hari Sita Gopal"
a = a.upper()
print(a)

RAM SHYAM HARI SITA GOPAL

In [89]:
a = "Ram Shyam Hari Sita Gopal".lower()
b = input("Enter name =").lower()
if b in a:
    print("Yes")
    print(a.count(b))
else:
    print("No")

Enter name = Ram

Yes
1

In [95]:
# replace
a = "Ram Shyam Hari Sita Gopal Ram Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gopal Rama Ramaesh

In [97]:
a = "Ram Shyam Hari Sita Gopal Ram Ramesh"
a = a.replace("Shyam","")
print(a)

Ram  Hari Sita Gopal Ram Ramesh