In [2]:
a = 10
print(a)

10

In [4]:
a = 10               #int
b = 10.5             #float
c = "Hello World"    #str
d = True             #bool

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [6]:
#datatype int, str, float, bool
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
# Operator
# + - * / ** // %

In [10]:
# int
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

13
7
30
3.3333333333333335
1000
3
1

In [12]:
#str
a = 'Hello '
b = 'World'
c = a+b      #concate
print(c)

Hello World

In [14]:
a = 'Hello World\n'
print(a*2)

Hello World
Hello World

In [16]:
a = '10'
b = '20'
c = a+b
print(c)

1020

In [18]:
# bool
a = True
b = False

c = a+b
print(c)

1

In [20]:
a = True
b = False
c = a-b
print(c)

1

In [22]:
# type casting int() float() bool()
a = 10
b = float(a)  #int to float
print(b)

10.0

In [24]:
b = str(a)
print(b)

10

In [26]:
a = 10.5
b = int(a)
print(b)

10

In [28]:
a = 10
b = bool(a)
print(b)

True

In [30]:
a = "Hello"
b = bool(a)
print(b)

True

In [32]:
# Basic I/O opertaion
a = input()
print(a)

 Hello World

Hello World

In [34]:
a = input("Enter value of a = ")
print(a)

Enter value of a =  Hello World

Hello World

In [36]:
a = int(input("Enter value of a = "))
b = int(input("Enter value of b = "))
c = a+b
print(c)

Enter value of a =  10
Enter value of b =  10

20

In [40]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100

print("The value of 1 = ",i)

Enter p =  10000
Enter t =  10.5
Enter r =  8.9

The value of 1 =  9345.0

In [42]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

#print(total); Print("is total marks = ")
print("The total marks =",total)

print("The per =",per)

Enter physics marks =  78
Enter chemistry marks =  87
Enter math marks =  89
Enter english marks =  90
Enter nepali marks =  89

The total marks = 433
The per = 86.6

In [44]:
name = input("Enter name")
age = 67
add = "Kathmandu"

info = name + str(age) + add
print(info)

Enter name Shyam

Shyam67Kathmandu

In [46]:
info = "Hello World I am "+ name 
print(info)

Hello World I am Shyam

In [48]:
info = "Hello World I am "+ name + " I am from " + add + " I am " + str(age) + " Years Old"
print(info)

Hello World I am Shyam I am from Kathmandu I am 67 Years Old

In [50]:
#if <condition>:
#    <operation>
#elif <condition>:
#    <operations>
#else:
#    <operations>

In [52]:
# > < >= <= == |=

In [54]:
a = 10
b = 3
print(a>b)

True

In [56]:
11%2 != 0

True

In [58]:
x = int(input("Enter x = "))
if x % 2 == 0:
    print("The no is even")
else:
    print("The no is odd")

Enter x =  11

The no is odd

In [60]:
x = int(input("Enter x = "))
if x >= 0:
    print("The no is +ve")
else:
    print("The no is -ve")

Enter x =  10

The no is +ve

In [62]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
if a>b:
    print("a is greater than b")
elif b>a:
    print("b is greather than a")
else:
    print("Both are equal")

Enter a =  10
Enter b =  15

b is greather than a

In [64]:
# WAP to create a basic calculator
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter  + or - or * or / ")
if o == '-':
    print(a*b)
elif o == '*':
    print(a*b)
elif o == '/' and b != 0:
    print(a/b)
elif o == '/' and b == 0:
    print("The value of b can not be zero")
else:
    print("Invalid operator")

Enter a =  10
Enter b =  0
Enter  + or - or * or /  /

The value of b can not be zero

In [66]:
# Logical operator
# and  &
# or   |

In [68]:
# and
print(True and False)
print(False and True)
print(True and True)
print(False and True)

False
False
True
False

In [70]:
# or
print(True and False)
print(False and True)
print(True and True)
print(False and True)

False
False
True
False

In [72]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"

print("the total marks",total)
print("The per =",per)
print("The grade =",grade)

Enter physics marks =  89
Enter chemistry marks =  90
Enter math marks =  78
Enter english marks =  98
Enter nepali marks =  90

the total marks 445
The per = 89.0
The grade = A

In [76]:
# Nested ifelse
a = int(input("Enter a = "))

if a >= 0:
    print("The number is positive")
    if a % 2 == 0:
        print("It is also even")
    else:
        print("It is also odd")
else:
    print("The number is negitive")
    if a % 2 == 0:
        print("It is also even")
    else:
        print("It is also odd")

Enter a =  10

The number is positive
It is also even

In [78]:
# loop
# for loop
# while loop,

In [80]:
# range(5)    0,1,2,3,4
# range(1,5)  1,2,3,4
# range(1,10,2) 1,3,5,7,9

In [82]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [84]:
for i in range(1,6,2):       #1, 1+2, 3+2
    print(i, "Hello World")

1 Hello World
3 Hello World
5 Hello World

In [86]:
for i in range(5,0,-1):
    print(i, "Hello World")

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World

In [88]:
# WAP to create a multiplication table

In [92]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x*i)

Enter x =  5

5
10
15
20
25
30
35
40
45
50

In [94]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"*",i,"=",x*i)    #5 * 1 = 5

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [96]:
# WAP that calculates sum of given numbers

In [98]:
s = 0
n = int(input("Enter no of entries = "))
for i in range(n):
    m = int(input("Enter money = "))
    s = s*1.1 + m
    print(s)

Enter no of entries =  2
Enter money =  1000

1000.0

Enter money =  1000

2100.0

In [106]:
s = 0
n = int(input("Enter no of entries = "))
for i in range(n):
    m = int(input("Enter money = "))
    s = s + m
    s = s*1.1
    print(s)

Enter no of entries =  2
Enter money =  1000

1100.0

Enter money =  1000

2310.0

In [108]:
# WAP to calculate factorial
#5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac * i
    print(fac)

Enter n =  5

1
2
6
24
120

In [110]:
# WAP to calculate the sum of all numbers
i = 10
x = 1+2+3+4+5+6+7+8+9+10

In [112]:
i = 10
total = 0
for num in range(1, i + 1):
    total += num
    print("The sum is:", total)

The sum is: 1
The sum is: 3
The sum is: 6
The sum is: 10
The sum is: 15
The sum is: 21
The sum is: 28
The sum is: 36
The sum is: 45
The sum is: 55

In [114]:
# loop ins string

In [116]:
a = "Hello World"
print(len(a))
for i in a:
    print(i, end = " ")

11
H e l l o   W o r l d

In [118]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i, end = "")

Hello World I am Python

In [120]:
a = "Hello World! I am Python."
for i in a:
     if i != "!" and i != ".":       #True  False = False     
        print(i, end = "")

Hello World I am Python

In [122]:
# WAP to take name and phone number from users and create a simple data application
# info = str()
# Ram+985352235
# shyam+9860325635
info = ""
n = int(input("Enter how many people = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data = name + " " + phone + "\n"
    info = info + data

    print(info)

Enter how many people =  2
Enter name =  Ram
Enter phone =  98616516132

Ram 98616516132

Enter name =  Shyam
Enter phone =  9808165651

Ram 98616516132
Shyam 9808165651

In [124]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    qty = float(input("Enter qut = "))
    price = float(input("Enter price = "))
    total = price * qty
    row = product + " " + str(price) +" "+ str(qty) +" "+ str(total) + "\n"
    info = info + row
    grand_total = grand_total +total

print("Bill =\n" ,info)
print("All total =\n" ,grand_total)

Enter n =  2
Enter product name =  momo
Enter qut =  2
Enter price =  150
Enter product name =  coke
Enter qut =  2
Enter price =  60

Bill =
 momo 150.0 2.0 300.0
coke 60.0 2.0 120.0

All total =
 420.0

In [126]:
for i in range(5): #0,1,2,3,4
    print(i*"o")

o
oo
ooo
oooo

In [128]:
for i in range(5,0,-1): #5,4,3,2,1
    print(i*"o")

ooooo
oooo
ooo
oo
o

In [130]:
for i in range(5):
    print((2*i-1)*" ",*"o")
print((2*i-1)*" ",*"o")
print((2*i-1)*" ",*"o")

 o
  o
    o
      o
        o
        o
        o

In [132]:
# Control statemants

In [134]:
# break
# continue

In [136]:
# break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [138]:
# continue
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [140]:
a = "Hello World. I am from Kathmandu."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [142]:
a = "Hello World. I am from Kathmandu."
for i in a:
    if i == ".":
        continue
    else:
        print(i, end = "")

Hello World I am from Kathmandu

In [144]:
# WAP to find if the number is prime or composite
# prime no: 2,3,5,7,11,13
# composite no:4,6,8,9,10,12
n = int(input("Enter n = "))
for i in range(2,n):
    if n % i == 0:
        print("composite no.")
        break
else:
    print("prime no")

Enter n =  11

prime no

In [146]:
# While loop
# while <condition>:
#     <operations>

In [148]:
i = 0
while i <5:
    print(i)
    i = i+1

0
1
2
3
4

In [150]:
i = 0
while i <10:
    if i == 6:
        break
    print(i)
    i = i+1

0
1
2
3
4
5

In [152]:
i = 0
while i <10:
    if i == 6:
        i = i + 1
        continue
    print(i)
    i = i+1

0
1
2
3
4
5
7
8
9

In [154]:
i = 5
while i >0:
    print(i)
    i = i-1

5
4
3
2
1

In [156]:
i = 1
x = int(input("Enter x = "))
while i<=10:
    print(x,"*",i,"=",x*i)
    i = i+1

Enter x =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [158]:
i = 0
s = 0
n = int(input("Enter no of entries = "))
while i<n:
    m = int(input("Enter money = "))
    s = s*1 + m
    i = i+1
print(s)

Enter no of entries =  2
Enter money =  1000
Enter money =  2000

3000

In [160]:
# string
a = 'Hello Wrold'
b = "Hello World"
c = '''Hello world'''

print(a)
print(b)
print(c)

Hello Wrold
Hello World
Hello world

In [162]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [164]:
a = "Hello World "
print(a*2)

Hello World Hello World

In [166]:
name = input("Enter name = ")
print(name)

Enter name =  Hello World

Hello World

In [168]:
# Imutable datatype

In [170]:
a = "Hello"
for i in a:
    print(i)

H
e
l
l
o

In [174]:
a = 10
for i in range(a):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [176]:
#Indexing
a = "Hello World"
print(a[0])
print(a[-1])

H
d

In [178]:
#Slicing
b = a[0:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [180]:
a = "Hello World"
l = len(a)
for i in range(l):
    print(a[i], end = " ")

H e l l o   W o r l d

In [182]:
i = 0
while i<len(a):
    print(a[i], end =" ")
    i = i+1

H e l l o   W o r l d

In [184]:
# string formating
name = "Ram"
age = 34
add = "Kathmandu"
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am Ram. I am from Kathmandu. I am 34

In [186]:
# WAP to create a billing system using string formatting

In [188]:
info = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    product = input("Enter product name = ")
    qty = float(input("Enter qut = "))
    price = float(input("Enter price = "))
    total = price * qty
    row = f"{product} {price} {qty} {total}\n"
    info = info + row
    grand_total = grand_total +total 

print("Bill =\n" ,info)
print("All total =\n" ,grand_total)

Enter n =  2
Enter product name =  momo
Enter qut =  2
Enter price =  150
Enter product name =  coke
Enter qut =  2
Enter price =  70

Bill =
 momo 150.0 2.0 300.0
coke 70.0 2.0 140.0

All total =
 440.0

In [190]:
# search in string
a = "Ram Shyam Hari Sita Gopal"
b = "Ram"
if b in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [192]:
a = "Ram Shyam Hari Sita Gopal"
b = input("Enter name =")
if b in a:
    print("Yes")
    print(a.count(b))
else:
    print("No")

Enter name = Ram

Yes
1

In [194]:
a = "Ram Shyam Hari Sita Gopal"
a = a.lower()
print(a)

ram shyam hari sita gopal

In [196]:
a = "Ram Shyam Hari Sita Gopal"
a = a.upper()
print(a)

RAM SHYAM HARI SITA GOPAL

In [198]:
a = "Ram Shyam Hari Sita Gopal".lower()
b = input("Enter name =").lower()
if b in a:
    print("Yes")
    print(a.count(b))
else:
    print("No")

Enter name = Ram

Yes
1

In [200]:
# replace
a = "Ram Shyam Hari Sita Gopal Ram Ramesh"
a = a.replace("Ram","Rama")
print(a)

Rama Shyam Hari Sita Gopal Rama Ramaesh

In [202]:
a = "Ram Shyam Hari Sita Gopal Ram Ramesh"
a = a.replace("Shyam","")
print(a)

Ram  Hari Sita Gopal Ram Ramesh