In [1]:
# Dictionary
# -indexing
# -Multiple and Duplicate values
# ordered 
# mutable

In [3]:
d = dict()

In [5]:
# d = {<Key>:<value>,<key>:<value>,......}

In [7]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [9]:
print(d['b'])

Ball

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [13]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d:
    print(i)

a
b
c

In [17]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d.values():
    print(i)

Ant
Ball
Cat

In [19]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [23]:
d = [['a','Apple'],['b','Ball'],['c','Cat']]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [25]:
# CRUD
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [31]:
d = {}
n = int(input('Enter the value of n = '))
for i in range(n):
    Name = input("Enter Name = ")
    Phone = input("Enter Phone = ")
    d[Name] = Phone

print(d)

Enter the value of n =  2
Enter Name =  Ram
Enter Phone =  9860307111
Enter Name =  Shyam
Enter Phone =  9845842717

{'Ram': '9860307111', 'Shyam': '9845842717'}

In [35]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
d['Hari'] = '9808778765'
d

{'Ram': '9860307111', 'Shyam': '9845842717', 'Hari': '9808778765'}

In [39]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
d['Ram'] = '980800000'
d

{'Ram': '980800000', 'Shyam': '9845842717'}

In [43]:
# delete
# del pop()
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
del d['Shyam']
print(d)

{'Ram': '9860307111'}

In [49]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
a = d.pop('Ram')
print(a)
print(d)

9860307111
{'Shyam': '9845842717'}

In [59]:
# list inside dict
d = {
    'Ram':[9860307111,980842717],
    'Shyam':[984350000,9808778765],
    'Hari':[9867556543,9808118945],
}
print(d)

{'Ram': [9860307111, 980842717], 'Shyam': [984350000, 9808778765], 'Hari': [9867556543, 9808118945]}

In [61]:
Name = input("Enter Name = ")
Mobile = int(input("Enter 0 for ntc or 1 for ncell"))

d[Name][Mobile]

Enter Name =  Ram
Enter 0 for ntc or 1 for ncell 1

980842717

In [63]:
# for multiple names
d = {
    'Name':['Ram','Shyam','Hari'],
    'Ntc':[9860307111,9845842717,9860307222],
    'Ncell':[9808667565,9808556542,9808452136]
}
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Ntc': [9860307111, 9845842717, 9860307222],
 'Ncell': [9808667565, 9808556542, 9808452136]}

In [71]:
d['Ntc'][0] = 9860307123
d['Ncell'][0] = 9808776575
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Ntc': [9860307123, 9845842717, 9860307222],
 'Ncell': [9808776575, 9808556542, 9808452136]}

In [73]:
del d['Name'][0]
del d['Ntc'][0]
del d['Ncell'][0]
d

{'Name': ['Shyam', 'Hari'],
 'Ntc': [9845842717, 9860307222],
 'Ncell': [9808556542, 9808452136]}

In [79]:
#Nested dict
d =  {
    1:{'Name':'Ram','Ntc':9860307111,'Ncell':98086678654},
    2:{'Name':'Shyam','Ntc':9860307123,'Ncell':9808779823},
    3:{'Name':'Hari','Ntc':9860307456,'Ncell':9808307111}
}
d

{1: {'Name': 'Ram', 'Ntc': 9860307111, 'Ncell': 98086678654},
 2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [9]:
del d[1]
d

{2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [5]:
d =  {
    1:{'Name':'Ram','Ntc':9860307111,'Ncell':98086678654},
    2:{'Name':'Shyam','Ntc':9860307123,'Ncell':9808779823},
    3:{'Name':'Hari','Ntc':9860307456,'Ncell':9808307111}
}
d[1]['Smart'] = 123645512
d

{1: {'Name': 'Ram',
  'Ntc': 9860307111,
  'Ncell': 98086678654,
  'Smart': 123645512},
 2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [ ]:
#  take Subject Marks,Create total,per,grade the
# WAP to creat list inside dict and CRUD
# WAP to creat dict inside list and CRUD
# WAP to creat dict inside dict and CRUD