In [1]:
# Dictionary
# -indexing
# -Multiple and Duplicate values
# ordered 
# mutable

In [3]:
d = dict()

In [5]:
# d = {<Key>:<value>,<key>:<value>,......}

In [7]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [9]:
print(d['b'])

Ball

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [13]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d:
    print(i)

a
b
c

In [17]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d.values():
    print(i)

Ant
Ball
Cat

In [19]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
for i in d.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [23]:
d = [['a','Apple'],['b','Ball'],['c','Cat']]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [25]:
# CRUD
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [31]:
d = {}
n = int(input('Enter the value of n = '))
for i in range(n):
    Name = input("Enter Name = ")
    Phone = input("Enter Phone = ")
    d[Name] = Phone

print(d)

Enter the value of n =  2
Enter Name =  Ram
Enter Phone =  9860307111
Enter Name =  Shyam
Enter Phone =  9845842717

{'Ram': '9860307111', 'Shyam': '9845842717'}

In [35]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
d['Hari'] = '9808778765'
d

{'Ram': '9860307111', 'Shyam': '9845842717', 'Hari': '9808778765'}

In [39]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
d['Ram'] = '980800000'
d

{'Ram': '980800000', 'Shyam': '9845842717'}

In [43]:
# delete
# del pop()
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
del d['Shyam']
print(d)

{'Ram': '9860307111'}

In [49]:
d = {'Ram': '9860307111', 'Shyam': '9845842717'}
a = d.pop('Ram')
print(a)
print(d)

9860307111
{'Shyam': '9845842717'}

In [59]:
# list inside dict
d = {
    'Ram':[9860307111,980842717],
    'Shyam':[984350000,9808778765],
    'Hari':[9867556543,9808118945],
}
print(d)

{'Ram': [9860307111, 980842717], 'Shyam': [984350000, 9808778765], 'Hari': [9867556543, 9808118945]}

In [61]:
Name = input("Enter Name = ")
Mobile = int(input("Enter 0 for ntc or 1 for ncell"))

d[Name][Mobile]

Enter Name =  Ram
Enter 0 for ntc or 1 for ncell 1

980842717

In [63]:
# for multiple names
d = {
    'Name':['Ram','Shyam','Hari'],
    'Ntc':[9860307111,9845842717,9860307222],
    'Ncell':[9808667565,9808556542,9808452136]
}
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Ntc': [9860307111, 9845842717, 9860307222],
 'Ncell': [9808667565, 9808556542, 9808452136]}

In [71]:
d['Ntc'][0] = 9860307123
d['Ncell'][0] = 9808776575
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'Ntc': [9860307123, 9845842717, 9860307222],
 'Ncell': [9808776575, 9808556542, 9808452136]}

In [73]:
del d['Name'][0]
del d['Ntc'][0]
del d['Ncell'][0]
d

{'Name': ['Shyam', 'Hari'],
 'Ntc': [9845842717, 9860307222],
 'Ncell': [9808556542, 9808452136]}

In [79]:
#Nested dict
d =  {
    1:{'Name':'Ram','Ntc':9860307111,'Ncell':98086678654},
    2:{'Name':'Shyam','Ntc':9860307123,'Ncell':9808779823},
    3:{'Name':'Hari','Ntc':9860307456,'Ncell':9808307111}
}
d

{1: {'Name': 'Ram', 'Ntc': 9860307111, 'Ncell': 98086678654},
 2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [9]:
del d[1]
d

{2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [5]:
d =  {
    1:{'Name':'Ram','Ntc':9860307111,'Ncell':98086678654},
    2:{'Name':'Shyam','Ntc':9860307123,'Ncell':9808779823},
    3:{'Name':'Hari','Ntc':9860307456,'Ncell':9808307111}
}
d[1]['Smart'] = 123645512
d

{1: {'Name': 'Ram',
  'Ntc': 9860307111,
  'Ncell': 98086678654,
  'Smart': 123645512},
 2: {'Name': 'Shyam', 'Ntc': 9860307123, 'Ncell': 9808779823},
 3: {'Name': 'Hari', 'Ntc': 9860307456, 'Ncell': 9808307111}}

In [2]:
#  take Subject Marks,Create total,per,grade the
# WAP to creat list inside dict and CRUD
# WAP to creat dict inside list and CRUD
# WAP to creat dict inside dict and CRUD

In [4]:
# per defined function
# user defined function

In [6]:
# per defined function
# print() int() float() str() list() tuple() dict() set()

In [8]:
# def <function_name>():
#     <operation>

# <function_name>()

In [10]:
def hello():
    print("Hello World")

hello()

Hello World

In [12]:
def area():
    l = int(input("Enter l = "))          #local variable
    b = int(input("Enter b = "))          #Local varibale
    a = l*b                               #local varibale
    print(a)
    
area()

Enter l =  10
Enter b =  2

20

In [14]:
l = int(input("Enter l = "))          #Global variable
b = int(input("Enter b = "))          #Global varibale
def area():
    a = l*b                               #local varibale
    print(a)
    
area()   
print(l)

Enter l =  10
Enter b =  10

100
10

In [16]:
def area():
    global l,b
    l = int(input("Enter l = "))          #local variable
    b = int(input("Enter b = "))          #Local varibale
    a = l*b                               #local varibale
    print(a)
    
area()
print(l)

Enter l =  10
Enter b =  10

100
10

In [18]:
# arguments and parameter

In [20]:
def area(l,b):                        #L,b parameter
    a = l*b                               #local varibale
    print(a)

l = int(input("Enter l = "))          #global variable
b = int(input("Enter b = "))          #global varibale
area(l,b)                             #L,b arguments

Enter l =  100
Enter b =  10

1000

In [22]:
def info(name,age,add):
    data = f"Hello World I am {name}. I am from {add}. I am {age}"
    print(data)

info("Ram",45,"Kathmandu")

Hello World I am Ram. I am from Kathmandu. I am 45

In [24]:
def language(lan = "Python"):
    print(lan)

language("c")
language("C++")
language("Java")
language()

c
C++
Java
Python

In [26]:
def info(name,age,add="Nepal"):
    data = f"Hello World, I am {name}. I am from {add}. I am {age} years old"
    print(data)

info("Ram",45)

Hello World, I am Ram. I am from Nepal. I am 45 years old

In [28]:
# return type function
def area(l,b):
    a = l*b
    return a

l = int(input("Enter l ="))
b = int(input("Enter b ="))
h = int(input("Enter h ="))

#print (area(l,b))
ar = area(l,b)
v = ar*h
print(ar)
print(v)

Enter l = 10
Enter b = 5
Enter h = 10

50
500

In [2]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input("Enter  + or - or * or / ")
if o == '+':
    print(add(a,b))
elif o == '-':
    print(sub(a,b))
elif o == '*': 
    print(mul(a,b))
elif o == '/': 
    print(div(a,b))
else:
    print("Invalid operator")

Enter a =  100
Enter b =  20
Enter  + or - or * or /  /

5.0

In [4]:
# # recursive function
# def hello():
#     print("Hello World")
#     hello()
# hello()

In [6]:
 # recursive function
def hello():
    x = input("Enter y for more print = ")
    if x == 'y':
        print("Hello World")     
        hello()
    
hello()

Enter y for more print =  y

Hello World

Enter y for more print =  y

Hello World

Enter y for more print =  dvjs

In [ ]:
# lambda function
# lambda <arguments>:<operations>

In [8]:
x = lambda a:a**2
x(4)

16

In [10]:
x = lambda l,b:l*b
x(4,5)

20

In [ ]:
# filter
# list(filter(lambda <arguments>:<operation>,list))

In [12]:
l = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x % 2 == 0, l))

[2, 4, 6, 8, 10]

In [14]:
s = ["Apple","ball","Cat","dog","Fish"]
list(filter(lambda x: x[0].isupper(), s))

['Apple', 'Cat', 'Fish']

In [ ]:
#map
# list(map(lambda <arguments>:<operation>,list))

In [16]:
s = ["apple","ball","cat","dog","fish"]
list(map(lambda x:x.title(), s))

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [18]:
l = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x:x**2, l))
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
result = list(map(lambda x:str(x), l))
result

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [22]:
l = [1,2,3,4,5,6,7,8,9,10]
str(l)

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [24]:
# list
l = []
for i in range(10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
l = [1,2,3,4,5,6,7,8,9,10]
l = [str(i) for i in l]
l

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [30]:
s = ["apple","ball","cat","dog","fish"]
l = [i.upper() for i in s]
l

['APPLE', 'BALL', 'CAT', 'DOG', 'FISH']

In [32]:
# filter
l = [1,2,3,4,5,6,7,8,9,10]
f = [i for i in l if i%2==0]
f

[2, 4, 6, 8, 10]

In [34]:
l = [1,2,3,4,5,6,7,8,9,10]
f = [i*5 for i in l if i%2==0]
f

[10, 20, 30, 40, 50]

In [36]:
s = ["Apple","ball","Cat","dog","Fish"]
l = [i for i in s if i[0].isupper()]
l

['Apple', 'Cat', 'Fish']

In [38]:
a = ['APPLE', 'BALL', 'CAT', 'DOG', 'FISH']
b = ["APPLE","ball","CAT","dog","Fish"]
common = [i for i in b if i in a]
print(common)

['APPLE', 'CAT']

In [40]:
not_common = [i for i in b if i not in a]
print(not_common)

['ball', 'dog', 'Fish']

In [32]:
# tuple
# -Indexing
# -Multiple and dublicate
# -Ordered 
# -IMutable

In [34]:
a = tuple()
b = (1,2,3,4,5,6,7,8,9)
c = ("Apple","Ball","Cat")
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

() (1, 2, 3, 4, 5, 6, 7, 8, 9) ('Apple', 'Ball', 'Cat')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [36]:
# No append() insert() extend()
# No Update
# No del() remove() pop()
# No sort

In [38]:
Gender = ('Male','Female','Other')

In [40]:
a = (1,2,3)
b = (4,5,6)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [42]:
a = ("Apple",)
type(a)

tuple

In [44]:
a = ("Apple","Ball","Cat")
b = ("Dog",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog')

In [46]:
a = "Apple","Ball","Cat"
print(a)

('Apple', 'Ball', 'Cat')

In [48]:
a = ('Apple', 'Ball', 'Cat')
b = list(a)
b

['Apple', 'Ball', 'Cat']

In [50]:
a =list("Hello World")
a

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [52]:
# min() max() sum()

In [54]:
# tuple inside tuple
t = ((1,2,3),
     (4,5,6),
     (7,8,9))
t

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [56]:
# Set
# -No Indexing
# -Multiple but no dublicate
# -Not Ordered 
# -Mutable

In [58]:
a = set()
b = {"Apple","Ball","Cat","Dog"}
c ={}
print(a)
print(b)

print(type(b))
print(type(c))

set()
{'Ball', 'Apple', 'Cat', 'Dog'}
<class 'set'>
<class 'dict'>

In [60]:
a = {"Apple","Ball","Cat","Dog","Apple"}
#a[0]
print(a)

{'Ball', 'Apple', 'Cat', 'Dog'}

In [62]:
# In set no + and *

In [64]:
a = set()
a.add("Apple")
a.add("Ball")
a.add("Cat")
print(a)

{'Ball', 'Apple', 'Cat'}

In [66]:
a = {'Ball', 'Apple', 'Cat'}
a.remove("Ball")
print(a)

{'Apple', 'Cat'}

In [68]:
# update()
a = {1,2,3}
b = {4,5,6}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [70]:
# intersection union difference

In [86]:
U = {'Ashok','Akash','Steave','Parvat','Satya','Manish','abc','xyz','Nabin','Bill','Willium','Nisha','Ram','Jack'}
apple = {"Ram","Nisha","Pravat","Steave","Jack","Willium"}
ms = {"Bill","Satya","Jack","Akash","Manish","Nabin","Ashok","Nisha"}

#Working on both
both = apple.intersection(ms)
print(both)

#if both merges
new = apple.union(ms)
print(new)

#only apple
oa = apple - ms  #apple.difference(ms)
print(oa)

#only ms
om = ms - apple 
print(om)

{'Nisha', 'Jack'}
{'Ashok', 'Steave', 'Satya', 'Manish', 'Willium', 'Nabin', 'Ram', 'Akash', 'Nisha', 'Pravat', 'Jack', 'Bill'}
{'Pravat', 'Steave', 'Ram', 'Willium'}
{'Ashok', 'Satya', 'Manish', 'Nabin', 'Akash', 'Bill'}

In [88]:
ue = U-new 
print(ue)

{'Parvat', 'abc', 'xyz'}

In [76]:
# There is no any mutable data type inside set 
# No set inside set
# No list inside set
# No dict inside set

In [78]:
a ={1,2,3,({1,2},{4,6}),4,5,6}
a

TypeError: unhashable type: 'set'

In [80]:
a = ((1,2),(3,4))
b = dict(a)
b

{1: 2, 3: 4}

In [82]:
b.items()

dict_items([(1, 2), (3, 4)])

In [84]:
list(b)

[1, 3]