In [2]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     --- ------------------------------------ 1.0/11.9 MB 3.1 MB/s eta 0:00:04
     ------- -------------------------------- 2.1/11.9 MB 3.8 MB/s eta 0:00:03
     ------------ --------------------------- 3.7/11.9 MB 4.8 MB/s eta 0:00:02
     ------------------- -------------------- 5.8/11.9 MB 6.0 MB/s eta 0:00:02
     -------------------------- ------------- 7.9/11.9 MB 6.8 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 7.5 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 7.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=3826c4411fb18b8bbb820a27532d3f0a1925fc0fa6696a98ce4f75a75e39dbd8
  Stored in directory: c:\users\acer\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "python class"
)
db = database.cursor()

In [12]:
db.execute("SELECT * FROM student") 
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 78, 80, 98, 90, 75, 450, 90, 'A')
(2, 'Shyam', 87, 90, 75, 80, 77, 430, 80, 'A')
(3, 'Hari', 81, 90, 75, 80, 77, 430, 80, 'A')
(4, 'Sita', 70, 80, 77, 78, 89, 400, 80, 'A')

In [16]:
db.execute("SELECT Name,Total,Grade FROM student")
result =db.fetchall()

for x in result:
  print(x)

('Ram', 450, 'A')
('Shyam', 430, 'A')
('Hari', 430, 'A')
('Sita', 400, 'A')

In [18]:
db.execute("SELECT * FROM student WHERE grade = 'A' ")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 78, 80, 98, 90, 75, 450, 90, 'A')
(2, 'Shyam', 87, 90, 75, 80, 77, 430, 80, 'A')
(3, 'Hari', 81, 90, 75, 80, 77, 430, 80, 'A')
(4, 'Sita', 70, 80, 77, 78, 89, 400, 80, 'A')

In [22]:
db.execute("SELECT * FROM student WHERE Percentage >= 85.0 ")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 78, 80, 98, 90, 75, 450, 90, 'A')

In [24]:
# insert
sql = """INSERT INTO student (Name, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) VALUES ('Rama', 78, 85, 76, 89, 98, 430, 92, 'A');"""
db.execute(sql)
database.commit()

In [28]:
name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
nepali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + nepali

per = total/5

if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "F"

print("the total marks",total)
print("The per =",per)
print("The grade =",grade)

# insert
sql = f"""INSERT INTO student (Name, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}');"""
db.execute(sql)
database.commit()

Enter name =  Sitaram
Enter physics marks =  56
Enter chemistry marks =  76
Enter math marks =  45
Enter english marks =  65
Enter nepali marks =  75

the total marks 317
The per = 63.4
The grade = B